#STRAPI
STRAPI_ENV=development
STRAPI_HOST=0.0.0.0
STRAPI_PORT=1337
STRAPI_DB_CLIENT=postgres
STRAPI_DB_HOST=database
STRAPI_DB_PORT=5432
STRAPI_DB_DB=database
STRAPI_DB_USER=admin
STRAPI_DB_PASSWORD=
STRAPI_APP_KEYS=
STRAPI_API_TOKEN_SALT=
STRAPI_ADMIN_JWT_SECRET=
STRAPI_JWT_SECRET=
STRAPI_TRANSFER_TOKEN_SALT=
STRAPI_ENCRYPTION_KEY=

#POSTGRES
POSTGRES_DB=database
POSTGRES_USER=admin
POSTGRES_PASSWORD=

#NEXTJS
NEXT_ENV=development
NEXT_STRAPI_URL=http://localhost:${STRAPI_PORT}